/* font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif; */
body{
  margin: 50px 150px 0 150px;
}
.banner{
  width: 1320px;
  height: 600px;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../images/banner.png');
  border-radius: 10px;
}
.banner .new-year{
 text-align: center;
 padding: 180px;
}

.new-year h3{
color: #fff;
font-size: 35px;
font-weight: 400;
margin-bottom: 15px;
}

.new-year h1{
color: #fff;
font-size: 65px;
font-family:'Merriweather', serif;
font-weight: 900;
margin: 0 0 0 50px;
}